* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  display: block;
}
#app {
  width: 100vw;
  height: 100vh;
  display: block;
}
