@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  --character-plaque-text: #fafff3;
  --character-plaque-background: #331c1d;
  --character-plaque-name: #231213;
  --token-size: 40px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

body {
  font-family: "Merriweather", serif;

  /* Ok, this is done so that we don't forget */
  /* We need to set this so that when the stuff is not */
  /* Pixel perfect there won't be a weird strip of white */
  /* You can see that color by resizing */
  background-color: black;
  overflow: hidden;
  margin: 0;
}

.token-square {
  height: var(--token-size);
  width: var(--token-size);
  background-color: #555;
  position: relative;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

#character-block {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 460px;
  align-items: flex-start;
  padding-bottom: 12px;
  transition: padding-bottom 3s ease-in-out,
    transform 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

#characters {
  top: 5%;
  left: 2%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.character-img {
  width: 120px;
  height: 120px;
}

.card-info {
  height: 75%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.card-info-hunter-name {
  font-size: larger;
  padding: 4px 12px;
  height: auto;
  background-color: var(--character-plaque-name);
  font-size: 1.4em;
  width: fit-content;
  color: var(--character-plaque-text);
  border-top-right-radius: 10px;
}

.card-info-plaque {
  color: var(--character-plaque-text);
  background-color: var(--character-plaque-background);
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
}

.card-count {
  padding-left: 0px;
}

.square::after {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  color: bisque;
  background-color: rgba(241, 54, 40, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  top: 100%;
  left: 50%;
  margin-left: -50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

.square:hover::after {
  visibility: visible;
  opacity: 1;
}

.token-group {
  display: flex;
  flex-direction: row;
  height: var(--token-size);
  width: calc(var(--token-size) * 1.75);
}

.stats {
  height: 16pt;
}

.stat-icon {
  height: 24px;
  width: 24px;
}

.hidden {
  display: none !important;
}
